<p id="notice"><%= notice %></p>

<p>
  <strong>Reservation date:</strong>
  <%= @booking.reservation_date.strftime("%Y-%m-%d") %>
</p>

<p>
  <strong>Reservation time:</strong>
  <%= @booking.reservation_time.strftime("%I:%M %P") %>
</p>

<p>
  <strong>Reservation End time:</strong>
  <%= @booking.reservation_end_time.strftime("%I:%M %P") %>
</p>

<p>
  <strong>Status:</strong>
  <%= @booking.status %>
</p>

<p>
  <strong>Cancellation reason:</strong>
  <%= @booking.cancellation_reason %>
</p>



<%= link_to 'Edit', edit_booking_path(@booking) %> |
<%= link_to 'Back', bookings_path %>
