<div class="container">
	<p id="notice"><%= notice %></p>

<div class="col-md-6">

<%= form_tag rooms_path, :method => "get" do%>

    <div class="form-group">       
      <div class="input-group date" id="datetimepicker" data-target-input="nearest">
      	<%= text_field_tag 'reservation_date',nil,class:"form-control datetimepicker-input",data: {target:"#datetimepicker"} %>
        <div class="input-group-append" data-target="#datetimepicker" data-toggle="datetimepicker">
          <div class="input-group-text"><span class="fas fa-calendar-alt"></span></div>
        </div>
      </div>
	</div>


	<div class="form-group">
		<label class="lbl">Select Facility Type(s)</label>  
		<%= select_tag 'room_type',options_for_select(Room.room_types),:class => 'form-control'  %>
	</div>



	<div class="form-group">
		<label class="lbl">Select Capacity</label>  
		<%= select_tag 'capacities',options_for_select(Room.sizes),:class => 'form-control'  %>
	</div>


	

	<div class="actions">
		<%= submit_tag 'Search Availabity' %>
	</div>


<% end %>


</div>
